body {
  background-color: #000;
  color: #fff;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.Container {
  min-height: 100vh;
  background-color: #000;
}

.Header {
  border-bottom: 2px solid #333;
}

.AppName {
  font-size: 1.5rem;
  font-weight: bold;
}

.MovieImage, .SearchIcon, .Placeholder {
  width: 40px;
  height: 40px;
}

.SearchBox {
  max-width: 400px;
}

.SearchInput {
  background-color: #fff;
  color: #fff;
  border: 1px solid #555;
}

.SearchInput::placeholder {
  color: #333
}

.MovieListContainer {
  padding-bottom: 2rem;
}

.MovieContainer {
  transition: transform 0.2s ease-in-out;
}

.MovieContainer:hover {
  transform: scale(1.05);
}

.CoverImage {
  height: 300px;
  object-fit: cover;
}

.MovieName {
  font-size: 1.2rem;
  font-weight: bold;
}

.InfoColumn .MovieInfo {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.InfoColumn .MovieInfo span {
  font-weight: bold;
  color: #ffc107;
}

.Close {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
}


@media (max-width: 768px) {
  .Header .row {
    text-align: center;
  }
  .MovieImage, .SearchIcon {
    width: 30px;
    height: 30px;
  }
  .CoverImage {
    height: 200px;
  }
}